.Logo {
   display: none;
}

.Lead {
   width: 100%;
}

.image img {
   width: 260px;
}

.button {
   border-radius: 15px;
}

@media (min-width: 1000px) {
   .FirstGroup {
      display: flex;
      justify-content: space-between;
   }
}
