.Servicios {
   display: flex;
   flex-flow: column;
}

.Servicio h1 {
   font-size: 24px;
}
h2 {
   line-height: 1.7;
}
.Icono img {
   margin: 30px;
}

.Title h2 {
   font-size: 36px;
   font-weight: bold;
}

.Servicio ul {
   list-style-type: lower-roman;
}

@media (min-width: 1000px) {
   .Servicios {
      flex-flow: row;
      padding: 30px 50px;
   }

   .Servicio {
      padding: 0 50px;
   }
}
