.Footer {
   display: flex;
   flex-flow: column;
   margin-top: 20px;
}

.Footer h2 {
   text-align: center;
}

.Footer h3 {
   color: var(--black-color);
}

.Footer img {
   margin: 5px;
}

.Redes {
   display: flex;
   justify-content: center;
}

@media (min-width: 1000px) {
   .Footer {
      flex-flow: row;
      justify-content: space-around;
      align-items: flex-end;
   }
}
