.Contacto {
   display: flex;
   flex-flow: column;
   background: var(--primary-color);
   margin-top: 20px;
}

.Contacto h1 {
   text-align: center;
   color: var(--white-color);
}

.Contacto button {
   margin-top: 0;
   color: var(--white-color);
}

@media (min-width: 1000px) {
   .Contacto h1 {
      width: 600px;
      margin: 100px auto 70px auto;
   }
   .Contacto button {
      margin-bottom: 100px;
   }
}
