:root {
   --primary-color: #3a7bd5;
   --secondary-color: #152c4d;
   --tertiary-color: #f4dbdb;
   --four-color: #333333;
   --black-color: #000000;
   --white-color: #ffff;
}

.App {
   text-align: center;
   font-family: 'Raleway-Medium', sans-serif;
}

h1 {
   font-family: 'Raleway-Regular', sans-serif;
   font-size: 42px;
   margin: 30px 40px 20px 30px;
   text-align: left;
}

h1 span {
   color: var(--primary-color);
   line-height: 1.7;
}

h2 {
   font-family: 'Raleway-Light', sans-serif;
   font-size: 16px;
   margin: 20px 30px;
   text-align: justify;
   line-height: 1.5;
}

h2 strong {
   font-family: 'Raleway-Light', sans-serif;
}

h3 {
   font-family: 'Raleway-Light', sans-serif;
   font-size: 12px;
   margin: 5px;
}

ul {
   list-style: none;
   padding: 0;
}

button {
   font-family: 'Raleway-Bold', sans-serif;
   font-size: 16px;
   margin: 30px;
   padding: 15px 0;
   background-color: var(--primary-color);
   min-width: 275px;
   border: none;
   cursor: pointer;
   color: var(--white-color);
   border-radius: 15px;
}

img {
   cursor: pointer;
}
